@charset "utf-8";

/*Variável no css*/

:root {
    --color-green: #8afca7;
}


/* Define a codificação da folha de estilo para Unicode UTF-8 */

* {
    /* esse seletor tem por definição zerar o espaçamento padrão predefinido pelo navegador */
    margin: 0%;
    padding: 0%;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    /*font externa css*/
    color: white;
}

header {
    padding: 32px;
    /*espaço interno - sentido anti horário: top/bottom/left/reight*/
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
    /*rgb (a) Alpha*/
}


/* agrupando os elementos
/* conhecendo a cascata do CSS*/

.links {
    text-align: center/* alinhamento de texto*/
}

.links a {
    color: white;
    /* color, coloração de textos*/
    /* a ideia de cascata é mais forte nos elementos
     poderia atribuir a cor diretamente ao elemento/seletor 'a'
     porém, vai mudar tudo o que tiver como seletor 'a'
     nesse caso, quero a mudança específica para este 'a'
     do header...*/
    font-size: 18px;
    /*tamanho do texto*/
    line-height: 28px;
    /*tamanho da linha do texto, na dúvida, use 10px a mais
    do font size*/
    margin: 0 16px;
    /* zero em cima/baixo e 16 nas laterais*/
    text-decoration: none;
    /*retira o anderline do txt*/
}


/* Efeitos */

.links a:hover {
    /*efeito mouser*/
    color: var(--color-green);
    /* cor atribuída a variável declarada */
    transition: color 200ms;
    /*efeito transição cor/suavidade*/
}


/* estilizando pg sobre */

#sobre {
    /* relembrando que as divs tem precedência */
    text-align: center;
    padding: 32px;
}


/* estilizando a imagem */

#sobre img {
    border-radius: 50%;
    border: 1px solid var(--color-green);
    margin-bottom: 32px;
    height: 250px;
}


/* estilizando txt e fontes */

#sobre h1 {
    font-size: 42px;
    /*tamanho*/
    line-height: 52px;
    /*altura da linha*/
    font-weight: bold;
    /*peso no sentido visual*/
}

#sobre h2 {
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#sobre p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 21px;
    line-height: 30px;
    font-weight: 100;
}


/*estilizando link rede social*/

#link-footer a {
    border-bottom: 1px solid var(--color-green);
    /*cor definida na variável*/
}